* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the body to grey */
body {
    background-color: #d9dcd6;
}

/* Selects the webpage's header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Selects "Horiseon" in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Selects the "seo" in "Horiseon" */
header h1 .seo {
    color: #d9dcd6;
}

/* Selects the all of the navigation links in the header */
header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Selects the individual navigation links in the header */
header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the color of all links to white with no text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets the font of all p elements */
p {
    font-size: 16px;
}

/* Selects digital-marketing-meeting.jpg image */
#digital-marketing {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    size: cover;
    position: center;
}

/* Class used to set float property to left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class used to set float property to right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* 
    Selects the "content" section containing the search engine optimization, online reputaiton management,
    and the social media marketing boxes.
 */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Formats the three boxes within the "content" section */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Selects all images within "content" */
.content img {
    max-height: 200px;
}

/* Selects all h2 elements within "content" */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Selects the "benefits" section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Selects the three sections within "benefits" */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Selects all h3 elements within "benefits" */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Selects all iamges within "benefits" */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Selects the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Selects the h2 element in the footer */
footer h2 {
    font-size: 20px;
}
